@model FitnessSuperiorMvc.DA.Entities.Sport.SetOfExercises
<div class="main__content reg-content m-height">
    <div class="models">
        <h1 class="model-title center">@Model.Name</h1>
        <p class="model-text center"><span class="model-span">Active muscles:</span> @Model.MuscleGroups</p>
        <p class="model-text center"><span class="model-span">Description:</span> @Model.Description</p>
        <p class="model-text center"><span class="model-span">Author:</span> @Model.Author.Name @Model.Author.SecondName
<p class="model-text center"><span class="model-span">Exercises:</span></p>
        <div class="main__content-section">
            @foreach (var exercise in Model.Exercises)
            {
                <div>
                    <p>
                        <a class="model-text center" asp-route-id="@exercise.Id" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" asp-controller="Workout" asp-action="ExerciseView">@exercise.Name</a>
                    </p>
                    <p>
                        @exercise.Description
                    </p>
                    <hr />
                </div>
            }
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <a class="grey-btn" href="@ViewBag.ReturnUrl">Get back</a>
    </div>
</div>
@section Styles{
    <link href="~/css/model.css" type="text/css" rel="stylesheet" />
}