@model FitnessSuperiorMvc.DA.Entities.Sport.Exercise
<div class="main__content reg-content m-height">
    <div class="models">
        <h1 class="model-title center">@Model.Name</h1>
        <p class="model-text center"><span class="model-span">Active muscles:</span> @Model.MuscleGroups</p>
        <p class="model-text center"><span class="model-span">Description:</span> @Model.Description</p>
        @if (!string.IsNullOrWhiteSpace(Model.YoutubeUrl))
        {

            <iframe style="margin: 0 auto;"
                    class="d-block"
                    width="560"
                    height="315"
                    src="@Model.YoutubeUrl"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        }
        <div class="d-flex justify-content-end">
            <a class="grey-btn" href="@ViewBag.ReturnUrl">Get back</a>
        </div>
        </div>
        @section Styles{
            <link href="~/css/model.css" type="text/css" rel="stylesheet" />
        }
    </div>